@import "tailwindcss";

/* css variables */
:root {
  /* light theme */
  --bg-light: hsl(0, 0%, 100%);
  --bg-top-light: hsl(225, 100%, 98%);
  --card-light: hsl(227, 47%, 96%);
  --text-light: hsl(228, 12%, 44%);
  --text-dark: hsl(230, 17%, 14%);

  /* dark theme (optional) */
  --bg-dark: hsl(230, 17%, 14%);
  --bg-top-dark: hsl(232, 19%, 15%);
  --card-dark: hsl(228, 28%, 20%);
  --text-muted: hsl(228, 34%, 66%);
  --text-light-invert: hsl(0, 0%, 100%); /* renamed to avoid conflict */

  /* font */
  --font-main: "Inter", sans-serif;

  /* breakpoints */
  --breakpoint-xs: 365px;
}
